.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;

  .stats-container {
    //background: yellow;
  }

  a {
    text-decoration: none;
  }

  .welcome-message {
    color: #191;
    opacity: 0.8;
    font-size: 2rem;
    text-align: center;

    &:after {
      display: inline-block;
      width: 100%;
    }
  }
}
