.login.container {
  margin: auto;
  background-color: #212121;
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-color: black;
  box-shadow: 30px 40px 58px black;

  .header {
    margin: 20px 40px;
    background-color: #131313;
    text-align: center;
    .sign {
      color: #20C20E;
    }
  }

  .info {
    color: #ffffff;
    opacity: 0.6;
    margin: 0 40px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 20px;
  }

  .form {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-self: stretch;

    .cmd1 {
      font-size: 16px;
      background: black;
      color: #21f838;
      padding: 12px;
      overflow: hidden;
      height: 40px;

      &:hover {
        cursor: pointer;
      }

      .span {
        display: inline-block;
      }
      
      .span1 {
        padding-left: 10px;
        display: inline-block;
        white-space: pre;
        color: #fff;
      }
      
      .cursor1 {
        display: inline-block;
        width: 7px;
        height: 14px;
        background: #21f838;
        margin-left: 1px;
      }
        
      .input1 {
        width: 0;
        height: 0;
        opacity: 0; 
      }

    }
    
    .cmd2 {
      @extend .cmd1;
      
      .span2 {
        @extend .span1;
      }

      .cursor2 {
        @extend .cursor1;
      }

      .input2 {
        @extend .input1;
      }
    }

  
    .cmd3 {
      @extend .cmd1;
      
      .span3 {
        @extend .span1;
      }

      .cursor3 {
        @extend .cursor1;
      }

      .input3 {
        @extend .input1;
      }
    }

    .cmd1 {
      margin-bottom: 10px;
    }
    .cmd2 {
      margin-bottom: 10px;
    }

    .button, .button2 {
      display: inline-block;
      margin-top: 10px;
      

      button {
        height: 35px;
        width: 100%;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        font-size: 1rem;
        background-color: #393939;
        font-weight: 700;
        letter-spacing: 1px;

        &:hover {
          background-color: #494949;
          cursor: pointer;
          color: #20C20E;
        }
      }
    }
  }
}
