@import '../colors';

.login.container {
  margin: auto;
  background-color: $background-color;
  height: auto;
  width: 35%;
  display: flex;
  flex-direction: column;

  @media all and (min-width: 1000px) and (max-width: 1200px) {
    width: 40%;
  }
  @media all and (min-width: 700px) and (max-width: 1000px) {
    width: 50%;
  }
  @media all and (min-width: 400px) and (max-width: 700px) {
    width: 80%;
  }
  @media all and (min-width: 0px) and (max-width: 400px) {
    width: 95%;
  }

  .header {
    margin: 20px 40px;
    background-color: $background-main;
    padding-left: 10px;

    .sign {
      color: $green-color;
    }
  }

  .info {
    color: $text-color;
    opacity: 0.6;
    margin: 0 40px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 20px;

    .source-link {
      color: $green-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .form {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-self: stretch;

    .cmd1 {
      font-size: 16px;
      background: $background-main;
      color: $green-color;
      padding: 12px;
      overflow: hidden;
      height: 40px;

      &:hover {
        cursor: text;
      }

      .span {
        display: inline-block;
      }

      .span1 {
        padding-left: 10px;
        display: inline-block;
        white-space: pre;
        color: $text-color;
      }

      .cursor1 {
        display: inline-block;
        width: 7px;
        height: 14px;
        background: $green-color;
        margin-left: 1px;
      }

      .input1 {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }

    .cmd2,
    .cmd3 {
      @extend .cmd1;

      .span2,
      .span3 {
        @extend .span1;
      }

      .cursor2,
      .cursor3 {
        @extend .cursor1;
      }

      .input2,
      .input3 {
        @extend .input1;
      }
    }

    .cmd1,
    .cmd2 {
      margin-bottom: 10px;
    }

    .button {
      display: inline-block;
      margin: 12px 0 0 0;

      .create {
        color: red;
        width: 10px;
      }

      a {
        &:first-child {
          margin-right: 4%;
        }
      }

      button {
        height: 35px;
        width: 48%;
        color: $text-color;
        text-transform: uppercase;
        border: none;
        font-size: 1rem;
        background-color: $button-color;
        font-weight: 700;
        letter-spacing: 1px;

        &:hover {
          background-color: lighten($button-color, $amount: 10);
          cursor: pointer;
          color: $green-color;
        }
      }
    }

    .button2,
    .button3 {
      @extend .button;

      button {
        &:first-child {
          margin-right: 4%;
        }
      }
    }
  }
}
